.hero {
  background-image: url(../img/hero_mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 757px;
  padding-top: 19px;
  margin: 0 auto;
}

.logo-img {
  width: 106px;
  height: 48px;
}

.hero-shoping-icon {
  stroke: #8c3213;
  fill: transparent;
}

.hero-shoping-item:first-child {
  display: none;
}

.hero-price {
  font-weight: 700;
  font-size: 12px;
  font-variant: all-small-caps;
  color: #000;
}

.hero-shoping-btn {
  background-color: transparent;
  width: 41px;
  height: 41px;
  border: 1px solid #8c3213;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-top {
  display: flex;
}

.hero-container {
  /* display: flex; */
}

.hero-shoping-list {
  display: flex;
  gap: 11px;
}

.hero-shop-wrap {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 7px;
}

.hero-shop-desktop {
  display: none;
}

.mobile-only {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.desktop-only {
  display: none;
}

.hero-category-link {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

}

.category-icon{
  fill: #84be51;
}

@media screen and (min-width: 1140px) {
  .hero-shop-desktop {
    display: flex;
  }

  .header-modal-search-input {
    width: 342px;
    margin-left: 30px;
  }

  .hero-number-desk {
    color: #000;
  }

  .hero-desk-call-icon {
    stroke: #8c3213;
  }
  .hero-desk-call-btn {
    border-color: #8c3213;
    margin-left: 57px;
  }
  .hero-heart {
    border-color: #8c3213;
  }
  .hero-shoping-item:first-child {
    display: block;
  }

  .hero {
    background-image: url(../img/hero_desk.jpg);
    height: 935px;
  }

  /* За замовчуванням приховуємо select */
  .mobile-only {
    display: none;
  }

  /* За замовчуванням показуємо список для десктопів */
  .desktop-only {
    display: block;
  }
}
