.hero{
  background-image: url(../img/hero_mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 340px;
  height: 757px;
}

.logo-img {
  width: 106px;
  height: 48px;
}

.hero-shoping-icon {
  stroke: #8c3213;
  fill: transparent;
}

.hero-shoping-item:first-child{
  display: none;
}

.hero-price {
  font-weight: 700;
  font-size: 12px;
  font-variant: all-small-caps;
  color: #000;
}

.hero-shoping-btn {
  background-color: transparent;
  width: 41px;
  height: 41px;
  border: 1px solid #8c3213;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  padding-top: 19px;
}

.hero-container {
  display: flex;
}

.hero-shoping-list {
  display: flex;
  gap: 11px;
}

.hero-shop-wrap{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 7px;
}

.hero-shop-desktop{
  display: none;
}

@media screen and (min-width: 1140px) {
  .hero-shop-desktop{
    display: flex;
  }

  .header-modal-search-input{
    width: 342px;
    margin-left: 30px;
  }

  .hero-number-desk{
    color: #000;
  }

  .hero-desk-call-icon{
    stroke: #8c3213;
  }
  .hero-desk-call-btn{
    border-color: #8c3213;
    margin-left: 57px;
  }
  .hero-heart{
    border-color: #8c3213;
  }
  .hero-shoping-item:first-child{
    display: block;
  }
}